$primaryColor: #0b1e2d;      // Dark navy from cap
$secondaryColor: #122b3f;    // Slightly lighter navy tone
$accentColor: #cc4428;       // Reddish-orange tassel
$fontColor: #ffffff;

$defaultFont:"Red Hat Display", sans-serif;
$displayFont: "Signika Negative", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 800;
$leading: 150%;

$gutter: 10px;