$primaryColor: #517088;      // Dark navy from cap
$secondaryColor: #0e2941;    // Slightly lighter navy tone
$accentColor: #cc4428;       // Reddish-orange tassel
$fontColor: #000b21;
$greyColor: #ffffff;

$defaultFont:"Red Hat Display", sans-serif;
$displayFont: "Signika Negative", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 800;
$leading: 150%;

$gutter: 10px;